/dist/
**/node_modules/
/bin/konflikt
**/tsconfig.tsbuildinfo
build/
/.ninja_deps
**/CMakeFiles/
**/.ninja_log
**/CMakeCache.txt
**/build.ninja
**/cmake_install.cmake
**/compile_commands.json
**/CMakeFiles/
**/cmake_install.cmake
/webpage/
